{% extends "layout.html.twig" %}

{% block title %}{{ livre.BookTitle }}{% endblock %}

{% block content %}
    <p>
        <h2>{{ livre.BookTitle }}</h2>
        <ul>
            {% for author in author %}
                <li>Auteur : {{ author.auth_first_name }} {{ author.auth_last_name }}</li>
            {% endfor %}
            <li>ISBN : {{ livre.BookIsbn }}</li>
        </ul>
        <p class="text-center">{{ livre.BookSummary }}</p>
    </p>
{% endblock %}